html{
    margin: 0px ;
    padding: 0px ; 
    box-sizing: border-box;
    font-size: 13px;
}

.flex{
    display: flex;
    margin: 0px;
}
/* FILA SUPERIOR */
.container1{
    width: 802px;
    margin: 0px;
    justify-content: flex-start;
    align-items: center;
}
    .Cbien{
        width: 8%;
        justify-content: flex-start;
        align-items: center;
        color: blue;
    }
        .caja{
            border: 1px solid blue;
        }
    .C12{
        width: 4%;
    }
    .Cpleno{
        width: 13%;
        color: red;
        justify-content: flex-start;
    }
    .Cequip1{
        width: 35%;
        color: blue;
        justify-content: flex-start;
        align-items: center;
    }
        .cajaCasillas{
            width: 15px;
            height: 20px;
            border: 1px solid red;
            color: red;
            text-align: center;
            margin-left: 5px;
        }
        .Cequip2{
        width: 35%;
        color: blue;
        justify-content: flex-start;
        align-items: center;
    }
    .C15{
        width: 4%;
    }

/* FILA INFERIOR */
.container2{
    width: 802px;
    margin-top: -2%;
    padding: 0px;
    justify-content:flex-start;
    align-items: center;
}
    .C20{
        width: 5%;
    }
    .Cmal{
        width: 6%;
        margin-top : -2%;
        margin-left: 5%;
        justify-content: flex-start;
        align-items: center;
        color: blue;
    }
        .desplaza{
            margin-left: -5px;
        }
    .Cbloques{
        color: blue;
    }
    .Ccasillero{
        justify-content: space-between;
        width: 74%;
    }
        .casilla{
            text-align: center;
            width: 60px;
            color: white; 
            background: red;
        }