professor {
  width: 16%;
  border: 2px solid black;
}
departament {
  display: block;
  background-color: black;
  color: white;
  margin-top: 15px;
  text-align: center;
  width: 92%;
  margin-left: 19px;
  font-weight: 600;
}

nom {
  width: 90%;
  margin-left: 20px;
  font-size: 20px;
}

cognom {
  font-size: 20px;
}

carrecs {
  display: block;
  width: 90%;
  margin-left: 50px;
  font-style: italic;
  margin-bottom: 10px;
}

carrec {
  display: block;
}
